In [ ]:
# How you're going to use replace method to deal with mssing data in Python Pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# As you can notice I have some special values here like -99999 now what these special values means is that data is missing but it happens to be that instead of these
# values being blank, they're the special values and this will happen a lot when you're downloading data from the internet or whatever is your source, you'll notice these
# special values
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

In [ ]:
# I want to replace all these -9999 values with NaN
new_df = df.replace(-99999, np.NaN)
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [ ]:
# But what happens if I have two special values? like in additon to 5 -9's and I have 5 -8s also
# You can supply a list also
new_df = df.replace([-99999, -88888], np.NaN)
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [ ]:
# If you want to replace values on specific columns
# You can do that by providing a Dictionary
new_df = df.replace({
    'temperature': -99999,
    'windspeed': -99999,
    'event': '0'  
    }, np.NaN)

new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0    NaN
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0    NaN

In [ ]:
# I want to assume that if I don't have any temperature or windspeed data, it'll be replaced to NaN and if I don't have any event data it'll be replaced to Sunny
# You can provide a Dictionary and this dictionary will be a simple maaping of values to replace

new_df = df.replace({
    -99999: np.NaN,
    '0': 'Sunny'   
})

new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0  Sunny
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0  Sunny

In [ ]:
# Now if you see, in this my dataframe I have some untis like F and mph which I want to remove and have them blank
# I'll use the regex function
df = pd.read_csv("weather_data (1).csv")
df

        day temperature windspeed  event
0  1/1/2017        32 F     6 mph   Rain
1  1/2/2017      -99999     7 mph  Sunny
2  1/3/2017          28    -99999   Snow
3  1/4/2017      -99999         7      0
4  1/5/2017          32    -99999   Rain
5  1/6/2017          31         2  Sunny
6  1/6/2017          34         5      0

In [ ]:
import re
# So basically here we are saying that if there any character from A-Z or a-z in the dataframe replace them with blank and regex must be equal to True
new_df = df.replace('[A-Za-z]', '', regex=True)
new_df

        day temperature windspeed event
0  1/1/2017         32         6
1  1/2/2017      -99999        7
2  1/3/2017          28    -99999
3  1/4/2017      -99999         7     0
4  1/5/2017          32    -99999
5  1/6/2017          31         2
6  1/6/2017          34         5     0

In [ ]:
# # But now if you see the problem is that it replaces the event also
# If you want to use Regex based on column, you'll again have to use dictionary
new_df = df.replace({
    'temperature': '[A-Za-z]',
    'windspeed': '[A-Za-z]'}, '',regex=True)
new_df

        day temperature windspeed  event
0  1/1/2017         32         6    Rain
1  1/2/2017      -99999        7   Sunny
2  1/3/2017          28    -99999   Snow
3  1/4/2017      -99999         7      0
4  1/5/2017          32    -99999   Rain
5  1/6/2017          31         2  Sunny
6  1/6/2017          34         5      0

In [ ]:
# How do you Replace a list of values with another list of values?
df = pd.DataFrame({
    'score': ['exceptional','average', 'good', 'poor', 'average', 'exceptional'],
    'student': ['rob', 'maya', 'parthiv', 'tom', 'julian', 'erica']
})
df

         score  student
0  exceptional      rob
1      average     maya
2         good  parthiv
3         poor      tom
4      average   julian
5  exceptional    erica

In [ ]:
# So here I'm saying is that poor is 1, average is 2, good is 3 and exceptional is 4
new_df = df.replace(['poor', 'average', 'good', 'exceptional'], [1,2,3,4])
new_df

   score  student
0      4      rob
1      2     maya
2      3  parthiv
3      1      tom
4      2   julian
5      4    erica